.login {
  display: flex;
  align-items: center;
  color: #edf2f4;
}
.flex-left {
  flex: 6;
}

.flex-right {
  flex: 6;
}
.loginForm {
  width: 65%;
}

h3 {
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
}
